// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #11191F;
$secondary : #202740;
$accent    : #27304F;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #59E4D7;
$negative  : #C10015;
$info      : #4950B8;
$warning   : #ACB5CA;
